<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--移动端预览-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <!--引入自定义CSS-->
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<!--导航-->
<nav th:fragment="menu(n)" class="ui inverted attached segment segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">会议论坛</h2>
            <a href="#" th:href="@{/}" class="m-item item m-mobile-hide" th:classappend="${n==1}? 'active'"><i class="small home icon"></i><span th:text="#{index.home}">首页</span></a>
            <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide" th:classappend="${n==2}? 'active'"><i class="small info icon"></i>论坛信息</span></a>

		<ul class="nav navbar-nav">
			<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					个人信息
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="login.html">登录</a></li>
					<li><a href="signup.html">注册</a></li>
					<li class="divider"></li>
					<li><a href="#">注销</a></li>
				</ul>
			</li>
		</ul>
	</div>
        
    </div>
    
</nav>

<!--中间内容-->
<div class="m-container m-padded-tb-big">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--左边论坛列表-->
            <div class="eleven wide column">
                <!--header-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">最近动态</h3>
                        </div>
                    </div>
                </div>
                <!--content-->
                <div id="info">
                    <ol>
                        <li v-for="todo1 in list">
                            <div class="alert alert-info" role="alert">{{todo1.forum}}<br/>{{todo1.message}}</div>
                        </li>
                    </ol>

                </div>

            </div>
            <div class="five wide column">
                <!--论坛列表-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>论坛列表
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment" >
                        <div class="ui fluid vertical menu" id= "select">
                                <ol>
                                    <li v-for="(todo,index) in list">
                                        <a href="#" class="item" @click="changeSelect(index)">
                                            {{list.forumname}}
                                            <div class="ui teal basic left pointing label" ><span v-html="todo.selected==true?'已关注':'未关注'"></span></div>
                                        </a>
                                    </li>
                                </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<!--底部-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive ">
</footer>
<script src="../js/forumnSelect.js"></script>
<script>
    select.select();
    info.info();
</script>
</body>
</html>