
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--移动端预览-->
    <meta name="viewport" content="device-width, initial-scale=1.0">

    <title>发布消息</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <!--引入Markdown插件所需要的CSS-->
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" />
    <!--引入自定义CSS-->
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--导航-->
<nav  th:replace="admin/_fragments :: menu(n)"class="ui inverted attached segment segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu" id="">
            <h2 class="ui teal header item" id="">会议论坛</h2>
            <a href="index.html" th:href="@{/}" class="m-item item m-mobile-hide" id=""><i class="small home icon"></i>首页</a>
            <a href="UserInfo.html" th:href="@{/types}" class="m-item item m-mobile-hide" id=""><i class="small idea icon"></i>参会者信息</a>
            <a href="#" th:href="@{tags}" class="m-item item m-mobile-hide  active" id=""><i class="small tags icon"></i>发布消息</a>
           
        </div>
    </div>
    <!--menu toggle无任何显示意思-->
   
</nav>
<!--二级导航-->
<div class="ui attached pointing menu" id="">
    <div class="ui container" id="">
        <div class="right menu" id="">
            <a href="#" th:href="@{/admin/blogs/input}" class="active teal basic item" id="">发布</a>
        </div>
    </div>
</div>
<!--中间内容-->
<div class="m-container  m-padded-tb-big" id="">
    <!--适应移动端手机-->
    <div class="ui container" id="">
        <form id="blog-form" action="#" th:object="${blog}" th:action="@{/admin/blogs}" method="post" class="ui form" id="">
            <input type="hidden" name="id" th:value="*{id}" id="">
            <!--判断是状态-保存、发布....-->
            <input type="hidden" name="published" id="">
            <!--论文来源-->
            <div class="required field" id="">
                <div class="ui left labeled input" id="">
                    <div class="ui selection compact teal basic dropdown label" id="">
                        <input type="hidden" value="原创" name="flag" th:value="*{flag}" id="">
                        <i class="dropdown icon" id=""></i>
                        <div class="text">原创</div>
                        <div class="menu">
                            <div class="item" data-value="原创">原创</div>
                            <div class="item" data-value="转载">转载</div>
                            <div class="item" data-value="翻译">翻译</div>
                        </div>
                    </div>
                    <input type="text" name="title" placeholder="标题" th:value="*{title}">
                </div>
            </div>
            <!--文章内容-->
            <div class="field">
                <div id="md-content" style="z-index: 1 !important;">
                        <textarea placeholder="文章内容" name="content" style="display: none" th:text="*{content}">
                        </textarea>
                </div>
            </div>
            <!--博客分类-->
            <div class="two fields">
                <div class="field">
                    <div class="ui left labeled action input" id="">
                        <label class="ui compact teal basic label" id="">论坛</label>
                        <div class="ui fluid selection dropdown " id="">
                            <input type="hidden" name="type.id" th:value="*{type}!=null ? *{type.id}" id="">
                            <i class="dropdown icon" id=""></i>
                            <div class="default text" id="">论坛</div>
                            <div class="menu" id="">
                                <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}" id="">论坛1</div>
                                <!--/*-->
                                <div class="item" data-value="2" id="">论坛2</div>
                                <div class="item" data-value="3" id="">论坛3</div>
                                <!--*/-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field" id="">
                    <div class="ui left labeled action input" id="">
                        
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">首图</label>
                    <input type="text" name="firstPicture" placeholder="首图引用地址" th:value="*{firstPicture}">
                </div>
            </div>
            <!--博客描述文本域-->
            <div class="required field">
                <textarea name="description" th:text="*{description}" placeholder="论坛描述..." maxlength="200"></textarea>
            </div>
           
            <!--表单校验-->
            <!--错误提示-->
            <div class="ui error message">

            </div>

            <!--返回、保存、发布-->
            <div class="ui right aligned container">
                <!--onclick="window.history.go(-1)返回上一页面-->
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>

                <button  type="button" id="save-btn" class="ui green button">保存</button>

                <button type="button"  id="publish-btn" class="ui teal button">发布</button>
            </div>
        </form>
    </div>
</div>
<br>
<br>
<!--底部-->



<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->

<!--引入jQuery-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<!--引入sementic-ui模板所需要的js-->
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<!--引入Markdown插件需要引入的js-->
<script src="../../static/lib/editormd/editormd.min.js"></script>

<!--/*/</th:block>/*/-->

<!--声明行内js代码域-->
<script>

    /*Markdown插件集成*/
    var testEditor;
    $(function() {
        testEditor = editormd("md-content", {
            width   : "100%",
            height  : 640,
            syncScrolling : "single",
            // path    : "../../static/lib/editormd/lib/"
            path    : "/lib/editormd/lib/"
        });
    });
    /*移动端显示导航栏设置*/
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    /*导航栏用户注销显示*/
    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

    $('#save-btn').click(function () {
        $('[name="published"]').val(false);
        $('#blog-form').submit();
    });


    $('#publish-btn').click(function () {
        $('[name="published"]').val(true);
        $('#blog-form').submit();
    });

    /*表单校验*/
    $('.ui.form').form({
        fields:{
            title:{
                identifier:'title',
                rules : [{
                    type : 'empty',
                    prompt:'请输入文章标题！'
                }]
            },
            content : {
                identifier:'content',
                rules : [{
                    type : 'empty',
                    prompt:'请输入文章内容！'
                }]
            },
            typeId : {
                identifier : 'type.id',
                rules : [{
                    type: 'empty',
                    prompt:'请选择文章分类！'
                }]
            },
            firstPicture : {
                identifier : 'firstPicture',
                rules : [{
                    type: 'empty',
                    prompt:'请填写首图地址！'
                }]
            },
            description  : {
                identifier : 'description ',
                rules : [{
                    type: 'empty',
                    prompt:'请填入博客描述！'
                }]
            }
        }
    });
</script>
</body>
</html>